@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: #fdfcfd;
  --color-gray-200: #faf9fb;
  --color-gray-300: #f2eff3;
  --color-gray-400: #eae7ec;
  --color-gray-500: #e3dfe6;
  --color-gray-600: #dbd8e0;
  --color-gray-700: #d0cdd7;
  --color-gray-800: #bcbac7;
  --color-gray-900: #8e8c99;
  --color-gray-1000: #84828e;
  --color-gray-1100: #65636d;
  --color-gray-1200: #211f26;
  --accent-color-1: #0090ff;
  --accent-color-2: #d6409f;
  --accent-color-3: #29a383;
  --accent-color-4: #8e4ec6;
  --accent-color-5: #f76b15;
}

::selection {
  background: var(--color-gray-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-100: #121113;
    --color-gray-200: #1a191b;
    --color-gray-300: #232225;
    --color-gray-400: #2b292d;
    --color-gray-500: #323035;
    --color-gray-600: #3c393f;
    --color-gray-700: #49474e;
    --color-gray-800: #625f69;
    --color-gray-900: #6f6d78;
    --color-gray-1000: #7c7a85;
    --color-gray-1100: #b5b2bc;
    --color-gray-1200: #eeeef0;
    --accent-color-1: #0090ff;
    --accent-color-2: #d6409f;
    --accent-color-3: #29a383;
    --accent-color-4: #8e4ec6;
    --accent-color-5: #f76b15;
  }
  ::selection {
    background: var(--color-gray-300);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
